*.user
Implementation/.idea
NewImplementation/.idea
.idea
Superset/.idea

Implementation/cmake-build-debug/**
NewImplementation/cmake-build-debug/**

Superset/Model/obj
Superset/Model/bin

Superset/Tests/obj
Superset/Tests/bin

Superset/WpfApp/obj
Superset/WpfApp/bin